<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register New Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="page-center">
        <div class="form-card">
        <div class="page-title">
            <h1 style="color: black;"> Register Student</h1>
            <p>Step 1: Enter details</p><p> Step 2: Capture face images</p><br>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}



        <div class="card">
            <div class="form-group">
                <label for="student_id">Student ID</label>
                <input type="text" id="student_id" name="student_id" placeholder="e.g. 101" required>
            </div>
            <div class="form-group">
                <label for="name"><br>Full Name</label>
                <input type="text" id="name" name="name" placeholder="e.g. Anuj Srivastava" required>
            </div>
            <div class="card-actions">
                <button type="submit" class="btn btn-primary" form="register-form">Start Face Capture</button>
            </div>
        </div>

<form id="register-form" method="POST">
    <input type="text" name="student_id" id="student_id_input" style="display: none;">
    <input type="text" name="name" id="name_input" style="display: none;">
</form>

        <div class="action-bar">
            <a href="/" class="btn btn-secondary"><br>Back to Dashboard</a>
        </div>

        <script>
        document.querySelector('.btn-primary').addEventListener('click', function () {
            const id = document.getElementById('student_id').value;
            const name = document.getElementById('name').value;

            if (!id || !name) {
                alert("Enter Student ID and Name");
                return;
            }

            document.getElementById('student_id_input').value = id;
            document.getElementById('name_input').value = name;

            document.getElementById('register-form').submit();
        });
        </script>
    </div>
</body>
</html>

